body {
    background-color: #bbb2ac;
    padding: 0;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    z-index: -1;
}

nav {
    margin-top: 7vh;
    text-align: center;
    background-color: #707070;
    padding-top: 4vh;
    padding-bottom: 4vh;
    border-top: 1vh solid black;
    border-bottom: 1vh solid black;
}


nav a {
    padding: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;

    font-size: 1.3vw;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Aptos Black', sans-serif;
    color: black;
    z-index: 1; /* Puts the text in front for the slider */

    border: 0.7vh solid black;
    margin-left: 1vw;
    margin-right: 1vw;
    display: inline-block;
    background-color: #9EC259;
    border-radius: 1vw;

    position: relative;
    overflow: hidden;
}

/* CSS for the hover state */
nav a::after { /* activates when I hover the nav a element */
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4f902e;
    transition: top 0.5s, height 0.5s;
    z-index: -1; /* puts the slider behind the text */

}

nav a:hover::after {
    top: 0;
    height: 100%;
}

/* this is for keeping the nav a element green if the user is on the respective website */
nav a.active {
    background-color: #4f902e; /* Green background color */
}

canvas {
    position: absolute;
    top: 0px; /* having this fixes a bug with the cannons pos */
}


/* box stuff styling and position */
.box-container {
    display: flex;
    justify-content: space-between;
}

.right_box {
    margin-top: 10vh;
    display: flex;
    flex-direction: column; /* this orders the elements from top to bottom  */
    justify-content: center;
    align-items: center;
    height: 50vh; 
    width: 40vw;    
    background-color: #8881B0;
    margin-right: 2vw;

    border: 1vh solid black;
    border-radius: 2vh; /* makes the edges round */
}

.right_box img {
    max-width: 70%;
    max-height: 60%;
    object-fit: contain;
}

.right_box p {
    font-size: 1.3vw;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Aptos Black', sans-serif;
    color: black;
}


.left_box {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    width: 40vw;    
    background-color: #8881B0;
    margin-left: 2vw;

    border: 1vh solid black;
    border-radius: 2vh; /* makes the edges round */
}

.left_box img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
}

.left_box p {
    font-size: 1.3vw;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Aptos Black', sans-serif;
    color: black;
}

/* the centre box is for webpages with only 1 main topic */
.centre_box {
    margin: auto; /* Center horizontally */
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 40vw;
    background-color: #8881B0;
    border: 1vh solid black;
    border-radius: 2vh /* makes the edges round */
}

.centre_box img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
}

.centre_box p {
    font-size: 1.3vw;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Aptos Black', sans-serif;
    color: black;
}
